/* ヘルプサイドバーの基本スタイル */
.help-sidebar {
  position: fixed;
  top: 0;
  right: -30%;
  /* 初期位置：画面左端の外側 */
  width: 25%;
  /* ヘルプ画面の幅 */
  height: 100%;
  background-color: #f0f4f8;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out, z-index 0s 0.3s;
  /* スライドアニメーションとz-indexの遅延 */
  z-index: 1000;
  /* 他のコンテンツの上に表示 */
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1.0rem;

  @media print {
    display: none;
  }
}

/* ヘルプサイドバーが表示された時のスタイル */
.help-sidebar.active {
  right: 0;
  /* 画面左端に表示 */
  z-index: 1002;
  /* アクティブ時にヘルプアイコンより手前に表示 */
  transition: right 0.3s ease-in-out;
  /* スライドアニメーション */
}

/* ヘルプアイコンのスタイル */
.help-icon {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  z-index: 1001;
  /* ヘルプサイドバーより手前に表示 */
  cursor: pointer;
  background-color: #3b82f6;
  /* アイコンの背景色 */
  color: white;
  /* アイコンの色 */
  padding: 0.75rem;
  border-radius: 9999rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
  width: 2rem;
  height: 2rem;
  font-size: 24px;

  @media print {
    display: none;
  }
}

.help-icon:hover {
  background-color: #2563eb;
}
