#imageWidth {
  height: 1.5em;
  width: 60px;
  font-size: 1em;
}

#progressCount {
  margin-top: 1em;
  margin-bottom: 0.2em;
}

#imageList {
  margin-top: 1em;
}

#imageList.twoColumn {
  display: grid;
  flex-direction: row;
}

.header {
  display: none;
  font-size: 1.5em;
}

.imageDiv {
  margin-top: 10mm;
  border: solid 1px gray;
  background-color: lightcyan;
  cursor: grab;
}

.imageDiv.twoColumn {
  display: flex;
  flex-direction: column;
}

.thumb {
  border: solid 1px gray;
  height: auto;
}

.imageCaption {
  margin-left: 1em;
  margin-right: 10em;
  background-color: whitesmoke;
}

.imageCaption.twoColumn {
  margin-left: 0em;
  margin-right: 0em;
  background-color: whitesmoke;
  text-wrap: pretty;
}
