media print {
  body {
    width: 210mm;
    /* padding-top: 20px; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* padding-bottom: 20px; */
  }

  hr {
    display: none;
  }

  /* .header { */
  /*   display: block; */
  /*   width: 100%; */
  /*   position: fixed; */
  /*   top: 5px; */
  /*   left: 0; */
  /*   margin: 0; */
  /*   padding-top: 0px; */
  /*   text-align: center; */
  /* } */
  /**/
  /* #header { */
  /*   font-size: x-large; */
  /*   margin: 0; */
  /* } */

  li,
  #informationDiv,
  .iconArrowDiv {
    display: none;
  }

  #imageList {
    margin-top: 0px;
  }

  .imageDiv {
    padding-top: 10px;
    break-inside: avoid;
    margin: 0;
    border: none;
    background-color: white;
  }

  .thumb {
    height: auto;
  }

  .imageCaption {
    padding-right: 10mm;
    background-color: white;
    margin-right: 0;
  }

  #imageList.twoColumn .imageCaption {
    text-align: center;
  }

  @page {
    size: A4;
    margin: 20mm;

    @top-center {
      content: var(--headerText, "photo-book");
      margin-top: 10px;
      font-size: 16pt;
    }
    @bottom-center {
      content: counter(page) "/"  counter(pages);
    }
  }
}
