#headerText {
  height: 1.5em;
  font-size: 1em;
}

#imageList {
  margin-top: 1em;
}

#imageList.twoColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  display: none;
  font-size: 1.5em;
}

.imageDiv {
  margin-top: 10px;
  background-color: lightcyan;
  cursor: grab;
  height: auto;
  display: flex;
  flex-direction: row;
}

#imageList.twoColumn .imageDiv {
  flex-direction: column;
}

.thumb {
  border: solid 1px gray;
  height: auto;
}

.imageCaption {
  margin-left: 1em;
  margin-right: 1em;
  background-color: whitesmoke;
  text-wrap: wrap;
  overflow-wrap: anywhere;
  vertical-align: top;
}

#imageList.twoColumn .imageCaption {
  margin-left: 0em;
  margin-right: 0em;
  background-color: whitesmoke;
  text-wrap: wrap;
  overflow-wrap: anywhere;
  background-color: white;
}
