:root {
  --icon-width: 18px;
  --icon-color: black;
}
p {
  margin-top: 0.75em;
  margin-bottom: 0.2em;
  /* line-height: 1em; */
  /* font-size: 1em; */
}
label {
  margin-top: 0.75em;
  margin-bottom: 0.2em;
}
input {
  margin-top: 0.75em;
  margin-bottom: 0.2em;
}
ul {
  margin-top: 0.75em;
  margin-bottom: 0.2em;
}
hr {
  margin-top: 1em;
}
details {
  width: 50%;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #27acd9;
}
details summary {
  width: 100%;
  padding: 0.5rem 0;
  position: relative;
  cursor: pointer;
  list-style: none;
}
details summary:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  transform-origin: center;
  transition: 200ms linear;
}
details[open] summary:after {
  transform: rotate(45deg);
  padding: 0.5rem 0 0 0;
  font-size: 1.75em;
}
#headerTextLabel, #imageWidthLabel {
  display: block;
  margin-bottom: 0.1em;
}
#headerText {
  height: 1.5em;
  width: 25%;
  margin-top: 0.1em;
  font-size: 1em;
}
#addFileBtn {
  vertical-align: middle;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 2px solid #3d83ff;
  border-radius: 100vh;
  background: #3d83ff;
  color: white;
  font-weight: 600;
  box-shadow: 3px 3px 3px gray;
}
#addFileBtn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px 1px gray;
}
#addFileBtn:focus {
  box-shadow: 3px 3px 3px 1px gray;
}
#addFileBtn:active {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: 1px 1px 1px gray;
}
#fileSelector {
  display: none;
}
#deleteFileBtn {
  vertical-align: middle;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  border: 2px solid #df4042;
  border-radius: 100vh;
  background: #df4042;
  color: white;
  font-weight: 600;
  box-shadow: 3px 3px 3px gray;
}
#deleteFileBtn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px gray;
}
#deleteFileBtn:focus {
  box-shadow: 3px 3px 3px gray;
}
#deleteFileBtn:active {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: 1px 1px 1px gray;
}
#deleteFileBtn:disabled {
  background: #f3b0b4;
  border: 2px solid #df4042;
  color: gray;
  cursor: not-allowed;
}
#exportWordBtn  {
  vertical-align: middle;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  border: 0;
  border: 2px solid #ffc720;
  border-radius: 100vh;
  background: #ffc600;
  color: gray;
  font-weight: 600;
  box-shadow: 3px 3px 3px gray;
}
#exportWordBtn:hover  {
  cursor: pointer;
  box-shadow: 3px 3px 3px gray;
}
#exportWordBtn:focus  {
  box-shadow: 3px 3px 3px gray;
}
#exportWordBtn:active {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: 1px 1px 1px gray;
}
#exportWordBtn:disabled {
  background: #ffe998;
  border: 2px solid #ffc720;
  color: gray;
  cursor: not-allowed;
}
#printBtn {
  vertical-align: middle;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  border: 2px solid #aec6cf;
  border-radius: 100vh;
  background: #aec6cf;
  color: white;
  font-weight: 600;
  box-shadow: 3px 3px 3px gray;
}
#printBtn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px 1px gray;
}
#printBtn:focus {
  box-shadow: 3px 3px 3px 1px gray;
}
#printBtn:active {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: 1px 1px 1px gray;
}
#imageWidth {
  height: 1.5em;
  width: 10%;
  margin-top: 0.1em;
  font-size: 1em;
}
#progressCount {
  margin-top: 1em;
  margin-bottom: 0.2em;
}
#imageList {
  margin-top: 1em;
}
.header {
  display: none;
  font-size: 1.5em;
}
.imageDiv {
  display: flex;
  margin-top: 10mm;
  border: solid 1px gray;
  background-color: lightcyan;
  cursor: grab;
}
.thumb {
  border: solid 1px gray;
  /* width: 480px; */
  height: auto;
}
.imageCaption {
  vertical-align: top;
  margin-left: 1em;
  margin-right: 10em;
  background-color: whitesmoke;
}
.loadingWrapper {
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.25;
  position: fixed;
  top: 8px;
  left: 8px;
}
.loading {
  margin: auto;
  border: 20px solid gold;
  border-radius: 50%;
  border-top: 20px solid dodgerblue;
  width: 1vw;
  height: 1vw;
  animation: spinner 4s linear infinite;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 26px);
  background-color: white;
  opacity: 1.0;
  z-index: 999;
}
.loadingMessage {
  display: none;
  position: absolute;
  top: calc(50% - 240px);
  left: calc(50% - 48px);
  text-align: center;
}
@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media print {  
  body {
    width: 210mm;
  }
  hr {
    display: none;
  }
  .header {
    display: block;
    margin-top: 10mm;
    margin-bottom: 5mm;
  }
  #header {
    width: 100%;
    text-align: center;
    position: fixed;
    font-size: x-large;
  }
  li,                                                       
  #informationDiv, .iconArrowDiv {                                   
    display: none;                                          
  }
  .imageDiv {
    padding-top: 20mm;
    padding-left: 25mm;
    padding-right: 20mm;
    break-inside: avoid;
    margin: 0;
    border: none;
    background-color: white;
  }
  .thumb {
    width: 480px;
    height: auto;
  }
  .imageCaption {
    padding-right: 10mm;
    background-color: white;
    margin-right: 0;
  }
  @page {
    size: A4;
    margin: 0;
  }
}

